{% extends 'base2.html' %}
{% load static %}

{% block content %}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Instituição {{ form.instance.nome }}</title>
</head>
<body>
    <h3 class='text-center'>Editar Instituição</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Atualizar Instituição</button>
    </form>
</body>
</html>
{% endblock content %}
