{% extends 'base2.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>

<body>
    <h2>Login Institution</h2>
    {% if message %}
        <p>{{ message }}</p>
        <form method="POST" action="{% url 'loginInstitution' %}">
            {% csrf_token %}
            <input type="hidden" name="cnpj" value="{{ cnpj }}">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <button type="submit">Login</button>
        </form>
    {% else %}
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form method="POST" action="{% url 'loginInstitution' %}">
            {% csrf_token %}
            <label for="cnpj">CNPJ:</label>
            <input type="text" id="cnpj" name="cnpj" required><br><br>
            <button type="submit">Send Password</button>
        </form>
    {% endif %}
</body>



{% endblock content %}
