{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>

<body>

    <div class="usuário">
        <div class="pfp">
            <img src="{{ institution.fotoPerfil.url }}" class="user_image">
        </div>

        <div class="textos">
            <p>Nome da instituição: {{ institution.nome }}<br></p>
            <p>CNPJ: {{ institution.cnpj }}<br></p>
            <p>Contatos: {{ institution.contato }}<br></p>
            <p>Endereço: {{ institution.endereco }}<br></p>
            <p>Sobre a Instituição: {{ institution.descricao }}<br></p>
        </div>
    </div>

    <div class="botões">
        <button class="botão_editar" type="button">Editar perfil</button>
        <button class="botão_ver_bolsas" type="button">Bolsas Cadastradas</button>
        <button class="botão_deletar" type="button">Deletar Perfil</button>
    </div>

</body>

{% endblock content %}
