{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>


<body>
    <p class="voltar"><img src="{% static 'AcessoBolsas/img/seta_back.png' %}" class="img_seta" /><u>Voltar</u></p>
    <div class="div-recomendacoes">
        <div class="recomendacoes_post">
            <div class="header_inst">
                <div>
                    <div class="nome_inst">
                        <p class="pnome_inst">Nome da Instituição</p>
                    </div>
                    <div class="tipo_bolsa">
                        <p class="ptipo_bolsa"><u>Tipo de Bolsa</u></p>
                    </div>
                    <div class="desc_inst">
                        <p class="pdesc_inst">Descrição:</p>
                    </div>
                </div>
                <div class="foto_inst">
                    <img class="img_inst" src="{% static 'AcessoBolsas/img/puc.png' %}" />
                </div>
            </div>
            <div class="tags_anuncio">
                <div class="center_tags_anuncio">
                    <div class="tags">
                        <p class="ptags">Tags:</p>
                    </div>
                    <div class="anuncio">
                        <p class="panuncio">Anuncio Importante:</p>
                    </div>
                </div>
            </div>
            <div class="bottom_inst">
                <div class="div_coment">
                    <p class="coment_title"><i>Comentários & Perguntas:</i></p>
                    <div class="coment"><i>*Exemplo de comentario*</i></div>
                </div>
                <div class="buttons_inst">
                    <button class="share">Compartilhar</button>
                    <button class="subs">Inscrever-se na bolsa</button>
                    <button class="contact">Entrar em contato</button>
                    <button class="see_profile">Ver perfil</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'AcessoBolsas/js/script.js' %}"></script>
</body>

{% endblock content %}