html {
    height: 100%;
    width: 100%;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(230, 230, 230);
    color: black;

}

.linha {
    display: flex;
    flex: 1;
    width: 100%;
    position: fixed;
    height: 60px;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    z-index: 10000;
}

.menu_image {
    height: 40px;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.head {
    display: flex;
    flex: 1;
    width: 100%;
    position: relative;
    height: 400px;
    background-color: rgb(255, 249, 236);
    border: none;
    margin-top: 60px;
    align-items: center;


}

.logo {
    display: grid;
    grid-template-columns: auto;
    column-gap: 20px;
}

.div-logo {
    margin: auto;
}

.pencil_image {
    width: 500px;
    margin: auto;
    margin-bottom: 30px;
}

.buttons {
    margin-left: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 8px;
    margin-right: 10px;
}

.btn1 {
    border-radius: 10px;
    background-color: #FF914D;
    border-color: #FF914D;
    color: white;
    font-size: 13px;
    border: solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
    margin: 5px;
    font-family: Inter;


}


.input-img {
    width: 30px;
    padding: 10px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.input {
    display: flex;
    flex: 1;
    width: 100%;
    position: relative;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
    align-items: center;
    box-shadow: 0 4px rgb(187, 186, 186);

}

.input-pesquisa {
    border: none;
    font-size: 20px;
    width: 100%;
    margin: auto;
    outline: none;
}

.input-pesquisa:focus {
    border: none;
}

input::placeholder {
    color: rgb(187, 186, 186);
    font-style: italic;
    font-family: Inter;

}


.text-recomendacoes {
    font-size: 24px;
    color: #FF914D;
    font-weight: bold;
    font-family: Inter;
}

.recomendacoes {
    display: flex;
    width: 100%;
    position: relative;
    height: 400px;
    background-color: rgb(255, 249, 236);
    align-items: center;
    border-radius: 40px;
    margin: auto;
}

.div-recomendacoes {
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.titulo {
    font-family: Outfit;
    font-weight: bold;
    font-size: 80px;
    color: #405BBC;
    margin: auto;
}


/* cadastro inst ---------------------------------------------------------------------------------------------------------------------- */

.box {
    display: flex;
    width: 400px;
    position: relative;
    height: 700px;
    background-color: rgb(255, 249, 236);
    align-items: center;
    border-radius: 40px;
    margin: auto;
    margin-bottom: 30px;
   
}

.inputCadastro {
    border: none;
    font-size: 17px;
    width: 100%;
    margin: auto;
    outline: none;
    border-radius: 20px;
    font-family: Inter;

}


.inputCadastro_text_desc{
    height: 100px;
    border: none;
    font-size: 15px;
    width: 100%;
    margin: auto;
    outline: none;
    border-radius: 20px;
    font-family: Inter;
    text-align:center
}

.blank1{
    font-size: 20px;
}
.blank2{
    font-size: 10px;
}

.headerInput{
    font-family: Outfit;
    font-weight: bold;
    font-size: 20px;
}

.questions{
    margin: auto;
}


.head_cadastro {
    display: flex;
    flex: 1;
    width: 100%;
    position: relative;
    height: 270px;
    background-color: rgb(255, 249, 236);
    border: none;
    margin-top: 60px;
    align-items: center;


}