html {
    height: 100%;
    width: 100%;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(230, 230, 230);
    color: black;

}

.linha {
    display: flex;
    flex: 1;
    width: 100%;
    position: fixed;
    height: 60px;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    z-index: 10000;
}

.menu_image {
    height: 40px;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.head {
    display: flex;
    flex: 1;
    width: 100%;
    position: relative;
    height: 400px;
    background-color: rgb(255, 249, 236);
    border: none;
    margin-top: 60px;
    align-items: center;


}

.logo {
    display: grid;
    grid-template-columns: auto;
    column-gap: 20px;
}

.div-logo {
    margin: auto;
}

.pencil_image {
    width: 500px;
    margin: auto;
    margin-bottom: 30px;
}

.buttons {
    margin-left: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 8px;
    margin-right: 10px;
}

.btn1 {
    border-radius: 10px;
    background-color: #FF914D;
    border-color: #FF914D;
    color: white;
    font-size: 13px;
    border: solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
    margin: 5px;
    font-family: Inter;
    cursor: pointer;


}

.btn1:hover{
    cursor: pointer;
}


.input-img {
    width: 30px;
    padding: 10px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.input {
    display: flex;
    flex: 1;
    width: 100%;
    position: relative;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
    align-items: center;
    box-shadow: 0 4px rgb(187, 186, 186);

}

.input-pesquisa {
    border: none;
    font-size: 20px;
    width: 100%;
    margin: auto;
    outline: none;
}

.input-pesquisa:focus {
    border: none;
}

input::placeholder {
    color: rgb(187, 186, 186);
    font-style: italic;
    font-family: Inter;

}


.text-recomendacoes {
    font-size: 24px;
    color: #FF914D;
    font-weight: bold;
    font-family: Inter;
}

.recomendacoes {
    display: flex;
    width: 100%;
    position: relative;
    height: 400px;
    background-color: rgb(255, 249, 236);
    align-items: center;
    border-radius: 40px;
    margin: auto;
}

.div-recomendacoes {
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.titulo {
    font-family: Outfit;
    font-weight: bold;
    font-size: 80px;
    color: #405BBC;
    margin: auto;
}


/* cadastro inst ---------------------------------------------------------------------------------------------------------------------- */

.box {
    display: flex;
    width: 400px;
    position: relative;
    height: 700px;
    background-color: rgb(255, 249, 236);
    align-items: center;
    border-radius: 40px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0 4px rgb(187, 186, 186);

}

.inputCadastro {
    border: none;
    font-size: 17px;
    width: 100%;
    margin: auto;
    outline: none;
    border-radius: 20px;
    font-family: Inter;

}


.inputCadastro_text_desc {
    height: 100px;
    border: none;
    font-size: 15px;
    width: 100%;
    margin: auto;
    outline: none;
    border-radius: 20px;
    font-family: Inter;
    text-align: center
}

.blank1 {
    font-size: 20px;
}

.blank2 {
    font-size: 10px;
}

.headerInput {
    font-family: Outfit;
    font-weight: bold;
    font-size: 20px;
}

.questions {
    margin: auto;
}


.head_cadastro {
    display: flex;
    flex: 1;
    width: 100%;
    position: relative;
    height: 270px;
    background-color: rgb(255, 249, 236);
    border: none;
    margin-top: 30px;
    align-items: center;

}




/* css decisao cadastros ----------------------------------------------------------------------------- */



.img_seta {
    height: 20px;
}

.voltar {
    font-family: Inter;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    color: #FF914D;

}

.div-box-decisao {
    margin-top: 100px;

}

.box-decisao {
    display: flex;
    width: 400px;
    position: relative;
    height: 200px;
    background-color: rgb(255, 249, 236);
    align-items: center;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    box-shadow: 0 4px rgb(187, 186, 186);
}

.text-cadastro {
    font-family: Inter;
    font-size: 24px;
    font-weight: bold;
    color: #FF914D;

    display: flex;
    width: 400px;
    position: relative;
    align-items: center;
    border-radius: 40px;
    margin: auto;
}

.button-inst {
    border-radius: 10px;
    background-color: #FCDA00;
    border-color: #FCDA00;
    color: white;
    font-size: 17px;
    border: solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
    margin: 5px;
    font-family: Inter;
    width: 140px;
    cursor: pointer;
    

}
.button-inst:hover{
    cursor: pointer;
}

.button-usu {
    border-radius: 10px;
    background-color: #F36465;
    border-color: #F36465;
    color: white;
    font-size: 17px;
    border: solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
    margin: 5px;
    font-family: Inter;
    width: 140px;
    cursor: pointer;

}

.botoes-cadastro {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 8px;
    margin: auto;

}



/* css  cadastros usuario ----------------------------------------------------------------------------- */

.select_genero {
    border: none;
    font-size: 17px;
    width: 100%;
    margin: auto;
    outline: none;
    border-radius: 20px;
    font-family: Inter;

}

select {
    color: rgb(187, 186, 186);
    font-style: italic;
    font-family: Inter;
}

select option {
    color: #000000;
}
option[value=""][disabled] {
    color: rgb(187, 186, 186);
  }


select:focus,
select:active {
  color: rgb(0, 0, 0);
}
input[type="date"] {
    color: rgb(187, 186, 186);
    font-style: italic;
    font-family: Inter;
}


.box_cadastro_usu {
    display: flex;
    width: 400px;
    position: relative;
    height: 600px;
    background-color: rgb(255, 249, 236);
    align-items: center;
    border-radius: 40px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0 4px rgb(187, 186, 186);

}

.questions_cadastro_usu{
    margin: auto;
    margin-top: 23.5px;

}

.cadastre-se{
    border-radius: 10px;
    background-color:#00D015;
    border-color: #00D015;
    color: white;
    font-size: 17px;
    border: solid transparent;
    font-weight: bold;
    font-family: Inter;
    padding: 13px;
    display: flex;
    position: relative;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
}





/* css  pos ----------------------------------------------------------------------------- */




.head_post {
    display: flex;
    flex: 1;
    width: 100%;
    position: relative;
    height: 250px;
    background-color: rgb(255, 249, 236);
    border: none;
    margin-top: 60px;
    align-items: center;


}


.recomendacoes_post{
    display: flex;
    flex-direction: column;
    width: 60%;
    position: relative;
    height: auto;
    background-color: rgb(255, 249, 236);
    border-radius: 40px;
    margin: auto;
    padding-bottom: 30px;
    box-shadow: 0 4px rgb(187, 186, 186);
}

.pnome_inst{
    font-family: Outfit;
    font-weight: bold;
    font-size: 40px;
    color: #405BBC;
    margin: auto;
    margin-left: 25px;
    margin-bottom: 15px;
}

.ptipo_bolsa{
    font-family: Outfit;
    font-weight: 600;
    font-size: 30px;
    color: #FF914D;
    margin: auto;
    margin-left: 25px;
    margin-bottom: 60px;
}

.pdesc_inst{
    font-family: Inter;
    font-weight: bold;
    font-size: 17px;
    margin: auto;
    margin-left: 25px;
}


.share{
    border-radius: 10px;
    background-color: #0D99FF;
    border-color: #0D99FF;
    color: #ffffff;
    border: solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    font-family: Inter;
}

.subs{
    border-radius: 10px;
    background-color: #158B21;
    border-color: #158B21;
    color: white;
    border: solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    font-family: Inter;
}

.contact{
    border-radius: 10px;
    background-color: #3050C1;
    border-color: #3050C1;
    color: white;
    border: solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    font-family: Inter;
}

.see_profile{
    border-radius: 10px;
    background-color: #FF914D;
    border-color: #FF914D;
    color: white;
    border: solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    font-family: Inter;

}




.panuncio{
    border-radius: 20px;
    background-color: red;
    border-color: red;
    color: white;
    font-size: 13px;
    border: solid transparent;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
    padding-right: 2px ;
    padding-left: 7px;
    font-family: Inter;
    width: 140px;

}

.tags{
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 40px;
    margin-bottom: 5px;
    box-shadow: 0 4px rgb(187, 186, 186);
}
.ptags{
    font-family: Inter;
    font-weight: bold;
    font-size: 15px;
    height: 20px;
    margin-left: 20px;
    display: flex;
}

.tags_anuncio{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 20px;
    margin-right: 30px;
}
.center_tags_anuncio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.coment{
    position: relative;
    height: 150px;
    background-color: white;
    align-items: center;
    border-radius: 40px;
    margin: auto;
    font-family: Inter;
    font-weight: 400;
    font-size: 17px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px rgb(187, 186, 186);
}

.coment_title{
    font-family: Inter;
    font-weight: 400;
    font-size: 17px;
    color: #AAAAAA;
    

}

.header_inst{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
    
}

.img_inst{
    width:250px;
    margin-right: 30px;
}


.bottom_inst{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.div_coment{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 55%;
    
}

.buttons_inst{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-right: 30px;
}