{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>


<body>
    <p class="voltar"><img src="{% static 'AcessoBolsas/img/seta_back.png' %}" class="img_seta" /><u>Voltar</u></p>
    <div class="div-box">
        <div class="box_cadastro_usu">
            <div class="questions_cadastro_usu">
                <p class="headerInput">Nome Completo: </p>
                <input type="text" class="inputCadastro" placeholder="Nome:" />

                <p class="headerInput">E-mail: </p>
                <input type="email" class="inputCadastro" placeholder="E-mail:" />

                <p class="headerInput">Data de nascimento: </p>
                <input type="date" class="inputCadastro" placeholder="Data:" />

                <p class="headerInput">Sexo: </p>
                <select class="select_genero">
                    <option value="" disabled selected>Selecione</option>
                    <option>Feminino</option>
                    <option>Masculino</option>
                </select>

                <p class="headerInput">Defina seu login: </p>
                <input type="text" class="inputCadastro" placeholder="Login:" />

                <p class="headerInput">Defina sua senha: </p>
                <input type="password" class="inputCadastro" placeholder="Senha:" />
            </div>
        </div>
        <button class="cadastre-se">Cadastre-se</button>
    </div>
    <script src="{% static 'AcessoBolsas/js/script.js' %}"></script>

</body>

{% endblock content %}
