<!DOCTYPE html>

<body>
    <p class="voltar"><img src="/AcessoBolsas/AcessoBolsas/static/AcessoBolsas/img/seta_back.png" class="img_seta" /><u>Voltar</u></p>
    <div class="div-box">
        <p class="blank1"></p>
        <div class="box">
            <div class="questions">
                <p class="headerInput">Nome da Instituição: </p>
                <input type="text" class="inputCadastro" placeholder="Nome:" />

                <p class="headerInput">CNPJ: </p>
                <input type="number" class="inputCadastro" placeholder="CNPJ:" />

                <p class="headerInput">Telefone: </p>
                <input type="tel" class="inputCadastro" placeholder="Tel:" />
                
                <p class="headerInput">E-mail: </p>
                <input type="email" class="inputCadastro" placeholder="E-mail:" />

                <p class="headerInput">Endereço: </p>
                <input type="text" class="inputCadastro" placeholder="Endereço:" />

                <p class="headerInput">Descrição sobre a Instituição: </p>
                <textarea class="inputCadastro_text_desc"></textarea>


            </div>
        </div>
        <button class="cadastre-se">Cadastre-se</button>
    </div>
    <script src="{% static 'AcessoBolsas/js/script.js' %}"></script>

</body>

