<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>AcessoBolsas.com</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="linha">
        <div class="menu">
            <img src="img/menu.png" class="menu_image">
        </div>
    <div class='buttons'>
        <button class='btn1'>Sign In</button>
        <button class='btn1'>Sign Up</button>
    </div>
</div>
    <div class='head'>
        <div class='logo'>
            <img class="logo_image" src="img/titulo.png">
            <div class="input">
                <span><img src="img\lupa.png" class="input-img"></span>
                <input class="input-pesquisa" type="text" placeholder="Search...">
                <span><img src="img\filtro.png" class="input-img"></span>

            </div>
        </div>
    </div>
    <div class="div-recomendacoes">
        <p class="text-recomendacoes">Bolsas de estudos recomendadas: </p>
        <div class="recomendacoes">

        </div>
    </div>
    <script src="script.js"></script>


    <footer>
        <p>Footer</p>
    </footer>
</body>

</html>