{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>AcessoBolsas.com</title>
    <link href="{% static '/AcessoBolsas/css/style.css' %}" rel="stylesheet" type="text/css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="linha">
        <div class="menu">
            <img src="{% static 'AcessoBolsas/img/menu.png' %}" class="menu_image">
        </div>
        <div class='buttons'>
            <button class='btn1'>Sign In</button>
            <button onclick="location.href='{% url 'sign_up' %}'" class='btn1'>Sign Up</button>
        </div>
    </div>
    <div class='head'>
        <div class="div-logo">
            <div class='logo'>
                <p class="titulo">AcessoBolsas.com</p>
                <img class="pencil_image" src="{% static 'AcessoBolsas/img/pencil.png' %}">
                <div class="input">
                    <span><img src=" {% static 'AcessoBolsas/img\lupa.png' %}" class="input-img"></span>
                    <input class="input-pesquisa" type="text" placeholder="Search...">
                    <span><img src="{% static 'AcessoBolsas/img\filtro.png' %}" class="input-img"></span>

                </div>
            </div>
        </div>
    </div>
    <div class="div-recomendacoes">
        <p class="text-recomendacoes">Bolsas de estudos recomendadas: </p>
        <div class="recomendacoes">

        </div>
    </div>
    <script src="script.js"></script>


    <footer>
        <p>Footer</p>
    </footer>
</body>

</html>  