{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>

<body>
    <div class="div-recomendacoes">
        <p class="text-recomendacoes">Bolsas de estudos recomendadas: </p>
        <div class="recomendacoes">
            <div class= "left-column col-lg-7 offset-lg-1">  
                {% for scholarship in scholarships %}
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="card m-auto text-bg-dark">
                                <div class="card-body my-2">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h2 class="card-titulo">{{scholarship.titulo}}</h2>
                                    </div>
                                    <hr>
                                    <a href='{% url 'scholarship:profile-scholarship' scholarship.slug %}' style="text-decoration: none !important" class=" link-dark">
                                        <div class="container">
                                            <p class="card-text text-bg-dark">{{scholarship.instituicao}}</p>
                                            <p class="card-text text-bg-dark">{{scholarship.titulo}}</p>
                                            <p class="card-text text-bg-dark">{{scholarship.tipoBolsa}}</p>
                                            <p class="card-text text-bg-dark">{{scholarship.fotoPerfil}}</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                    <p>Sem Bolsas</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="script.js"></script>

</body>

</html>  

{% endblock content %}