<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>AcessoBolsas.com</title>
    <link href="\AcessoBolsas\AcessoBolsas\static\AcessoBolsas\css\style.css" rel="stylesheet" type="text/css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="linha">
        <div class="menu">
            <img src="\AcessoBolsas\AcessoBolsas\static\AcessoBolsas\img\menu.png" class="menu_image">
        </div>
        <div class='buttons'>
            <button class='btn1'>Sign In</button>
            <button class='btn1'>Sign Up</button>
        </div>
    </div>
    <div class='head_post'>
        <div class="div-logo">
            <div class='logo'>
                <p class="titulo">AcessoBolsas.com</p>
                <img class="pencil_image" src="\AcessoBolsas\AcessoBolsas\static\AcessoBolsas\img\pencil.png">
            </div>
        </div>
    </div>
    <p class="voltar"><img src="/AcessoBolsas/AcessoBolsas/static/AcessoBolsas/img/seta_back.png"
            class="img_seta" /><u>Voltar</u></p>
    <div class="div-recomendacoes">
        <div class="recomendacoes_post">
            <div class="header_inst">
                <div>
                    <div class="nome_inst">
                        <p class="pnome_inst">Nome da Instituição</p>
                    </div>
                    <div class="tipo_bolsa">
                        <p class="ptipo_bolsa"><u>Tipo de Bolsa</u></p>
                    </div>
                    <div class="desc_inst">
                        <p class="pdesc_inst">Descrição:</p>
                    </div>
                </div>
                <div class="foto_inst">
                    <img class="img_inst" src="/AcessoBolsas/AcessoBolsas/static/AcessoBolsas/img/puc.png" />
                </div>
            </div>
            <div class="tags_anuncio">
                <div class="center_tags_anuncio">
                <div class="tags">
                    <p class="ptags">Tags:</p>
                </div>
                <div class="anuncio">
                    <p class="panuncio">Anuncio Importante:</p>

                </div>
            </div>
            </div>

            <div class="bottom_inst">
                <div class="div_coment">
                    <p class="coment_title"><i>Comentários & Perguntas:</i></p>
                    <div class="coment"><i>*Exemplo de comentario*</i></div>
                </div>
                <div class="buttons_inst">
                    <button class="share">Compartilhar</button>
                    <button class="subs">Inscrever-se na bolsa</button>
                    <button class="contact">Entrar em contato</button>
                    <button class="see_profile">Ver perfil</button>
                </div>

            </div>
        </div>

    </div>
    <script src="script.js"></script>


    <footer>
        <p>Footer</p>
    </footer>
</body>

</html>